# Costos Accidentes

In [3]:
#Dependencies
import pandas as pd

In [4]:
#Create dataframe with the costs per accident type
raw_data = pd.DataFrame({"Classification":["Sólo Daños","No Fatal","Fatal"],
                        "Costs":["31148","227613","1249500"],
                        })
raw_data.head()

  Classification    Costs
0     Sólo Daños    31148
1       No Fatal   227613
2          Fatal  1249500

In [6]:
#Save file
raw_data.to_csv('Accidents_costs.csv')