In [1]:
#Codigo para unificar las siguientes base de datos.
# Alcoholismo y Drogas
#DesempleoPorEntidadFederativa
#ParqueVehicular
#Poblacion Entidad Federativa
#UsuariosConAcessoAInternet

In [17]:
#Importar csv

#modules
import os
import csv
import pandas as pd

#Import CSV
csvpath = os.path.join("Raw Data", "AlcoholismoDrogasEntidadFederativa.csv")
# Import the Bancos.csv file as a DataFrame
DrogasDB = pd.read_csv(csvpath, encoding="utf-8")

#Import CSV
csvpath = os.path.join("Raw Data", "CatalogoEntidad.csv")
# Import the Bancos.csv file as a DataFrame
CatalogoEntidades = pd.read_csv(csvpath, encoding="utf-8")

#Import CSV
csvpath = os.path.join("Raw Data", "DesempleoPorEntidadFederativa.csv")
# Import the Bancos.csv file as a DataFrame
DesempleoDB = pd.read_csv(csvpath, encoding="utf-8")

#Import CSV
csvpath = os.path.join("Raw Data", "ParqueVehicular.csv")
# Import the Bancos.csv file as a DataFrame
ParqueVehicularDB = pd.read_csv(csvpath, encoding="utf-8")

#Import CSV
csvpath = os.path.join("Raw Data", "PoblacionEntidadFederativa.csv")
# Import the Bancos.csv file as a DataFrame
PoblacionDB = pd.read_csv(csvpath, encoding="utf-8")

#Import CSV
csvpath = os.path.join("Raw Data", "UsuariosConAccesoInternetEntidadFederativa.csv")
# Import the Bancos.csv file as a DataFrame
UsuariosInternetDB = pd.read_csv(csvpath, encoding="utf-8")

In [18]:
#Ponerlos ID del catalogo en cada Base

#Drogas, sacar el promedio por estado
DrogasDB = DrogasDB.groupby("Estado").mean()
#Desempleo, Eliminar columnas
DesempleoDB = DesempleoDB.drop(columns=['q2','q3','q4','q1'])
#ParqueVeihicular, elimnar columna y cambiar titulo
ParqueVehicularDB = ParqueVehicularDB.rename(columns={"ENTIDAD FEDERATIVA": "Estado"})
#Poblacion, Eliminar comas cambiar type y sumar
PoblacionDB['Personas'] = PoblacionDB['Personas'].str.replace(',','')
PoblacionDB['Personas'] = pd.to_numeric(PoblacionDB['Personas'])
PoblacionDB=PoblacionDB.groupby('Estado').sum()
#Usuarios Internet
UsuariosInternetDB = UsuariosInternetDB.rename(columns={"Entidad Federativa": "Estado"})

In [19]:
#Colocar ID de Estado
DrogasDB = DrogasDB.merge(CatalogoEntidades, on='Estado',how='left')
DesempleoDB = DesempleoDB.merge(CatalogoEntidades, on='Estado',how='left')
ParqueVehicularDB = ParqueVehicularDB.merge(CatalogoEntidades, on='Estado',how='left')
PoblacionDB = PoblacionDB.merge(CatalogoEntidades, on='Estado',how='left')
UsuariosInternetDB = UsuariosInternetDB.merge(CatalogoEntidades, on='Estado',how='left')

In [20]:
#Crear MainDB, en base al catalogo
MainDB = pd.DataFrame ({
    "ID Estado":[]
})

MainDB['ID Estado'] = CatalogoEntidades['ID Estado'].unique()

In [22]:
#Juntar Base, y renombar para SQL
MainDB = MainDB.merge(DrogasDB, on='ID Estado', how='left')
MainDB = MainDB.drop(columns=['Estado'])

MainDB = MainDB.merge(DesempleoDB, on='ID Estado', how='left')
MainDB = MainDB.drop(columns=['Estado', 'Año'])
MainDB = MainDB.rename(columns={"Total": "%_Desempleados"})

MainDB = MainDB.merge(ParqueVehicularDB, on='ID Estado', how='left')
MainDB = MainDB.drop(columns=['Estado'])
MainDB = MainDB.rename(columns={"TOTAL": "Total_Vehiculos",
                                "AUTOMÓVILES": "Total_de_Automoviles",
                               "AUTOMÓVILES": "Total_de_Automoviles",
                               "CAMIONES PARA PASAJEROS": "Total_Camiones_Pasajeros",
                               "CAMIONES Y CAMIONETAS PARA CARGA": "Total_Camiones_Carga",
                               "MOTOCICLETAS": "Total_Motocicletas"
                               })

MainDB = MainDB.merge(PoblacionDB, on='ID Estado', how='left')
MainDB = MainDB.drop(columns=['Estado'])
MainDB = MainDB.rename(columns={"Personas": "Poblacion"})

MainDB = MainDB.merge(UsuariosInternetDB, on='ID Estado', how='left')
MainDB = MainDB.drop(columns=['Estado'])

MainDB = MainDB.rename(columns={"ID Estado": "ID_ENTIDAD",
                                "Consumo Litros de Alcohol": "Consumo_Alcohol_Litros",
                               "Consumo de Mariguana": "Consumo_Mariguana",
                               "Consumo de Cocaina": "Consumo_Cocaina",
                               "CAMIONES Y CAMIONETAS PARA CARGA": "Total_Camiones_Carga",
                               "MOTOCICLETAS": "Total_Motocicletas",
                                "Usuarios con acceso a internet":"Usuarios_Acceso_Internet"
                               })


MainDB

,ID_ENTIDAD,Consumo_Alcohol_Litros,Consumo_Mariguana,Consumo_Cocaina,%_Desempleados,Total_Vehiculos,Total_de_Automoviles,Total_Camiones_Pasajeros,Total_Camiones_Carga,Total_Motocicletas,Poblacion,Usuarios_Acceso_Internet
0,1,8.1780,3.10,0.50,3.480096,569134,357999,1470,151656,58009,1184996,881 527
1,2,4.9700,3.80,0.60,2.519528,1520236,1149333,8092,343073,19738,3155070,2 687 498
2,3,4.8435,2.85,0.30,3.724335,492200,330488,5804,146241,9667,637026,575 533
3,4,6.9425,1.25,0.70,3.266911,306254,153443,940,61851,90020,822441,568 203
4,5,NaN,NaN,NaN,4.134532,924840,568805,98620,255022,2393,2748391,1 921 640
5,6,6.2800,2.30,0.30,3.225164,327683,170049,1395,99183,57056,650555,511 611
6,7,2.3990,0.85,0.20,2.811305,851853,430746,8493,309319,103295,4796580,2 000 097
7,8,5.7605,2.85,1.10,3.122492,1536013,1076600,8459,427997,22957,3406465,2 470 795
8,9,4.7950,2.60,0.65,4.609662,5471904,5008454,32245,83354,347851,8851080,6 326 947
9,10,5.9285,1.95,0.80,4.268566,665694,426017,2686,213673,23318,1632934,1 065 077
10,11,5.1775,1.75,0.90,3.570633,1994985,1093291,29562,569104,303028,5486372,3 247 118
11,12,4.1990,1.95,1.10,1.207750,1129506,789990,58380,217150,63986,3388768,1 666 367
12,13,4.1195,2.20,0.55,2.507879,785841,467807,2137,300331,15566,2665018,1 548 210
13,14,7.9995,3.50,1.95,2.744112,3605557,2115230,11576,1062735,416016,7350682,5 432 400
14,15,3.0475,1.85,0.60,4.023838,7271930,5490768,23955,1260750,496457,15175862,11 371 719
15,16,7.5455,1.95,0.95,2.171465,2487493,1257793,14173,999305,216222,4351037,2 429 739
16,17,4.5985,2.60,0.30,2.122239,707509,522254,6122,127277,51856,1777227,1 244 695
17,18,4.8140,2.30,0.70,3.921055,413509,211116,1915,170524,29954,1084979,741 028
18,19,7.4560,1.00,0.85,3.585943,2129728,1593335,8700,458053,69640,4653458,3 802 986
19,20,4.0160,1.80,0.70,1.569491,552387,237835,4149,206657,103746,3801962,1 791 637
20,21,2.7130,2.75,1.40,2.563997,1492217,952504,11036,447316,81361,5779829,3 209 166
21,22,5.1365,2.75,1.05,3.757770,508206,348948,5395,131358,22505,1827937,1 322 778
22,23,6.6105,1.50,1.55,2.723690,756672,448952,2591,112109,193020,1325578,1 196 609
23,24,5.4970,2.75,0.25,2.474356,1137791,616522,4634,360897,155738,2585518,1 547 420
24,25,4.3745,2.95,0.95,3.162300,1188477,696242,7987,393440,90808,2767761,1 962 223
25,26,4.1210,2.15,0.75,3.660145,1057012,708637,5062,320200,23113,2662480,2 173 648
26,27,5.5225,1.25,1.40,7.293646,589624,348021,2987,146126,92490,2238603,1 228 185
27,28,4.6605,1.60,0.35,3.833409,1175178,809583,5969,337580,22046,3268554,2 401 987
28,29,2.9575,1.85,0.15,3.695055,655367,460222,6354,142351,46440,1169936,738 188
29,30,5.3620,1.85,0.50,3.038069,1951430,1152039,13110,630701,155580,7643194,4 047 578
30,31,5.0975,1.85,0.55,1.801555,770875,475917,2778,130074,162106,1955577,1 400 366
31,32,5.8735,1.75,0.95,2.911129,449028,227602,1808,191198,28420,1490668,812 404

In [7]:
#imprimir Archivo
MainDB.to_csv(r'MainDBnivelEstado.csv')

In [8]:
#Save File

#connection_string = "root:<insert password>@localhost/customer_db"
#engine = create_engine(f'mysql://{connection_string}')
#engine.table_names()
#MainDB.to_sql(name='Pending', con=engine, if_exists='append', index=True)